doctype html
html
  head
    title OdinLibrary
    meta charset="UTF-8"
    link href="assets/milligram.css" rel="stylesheet" type="text/css"
  body
    div.container
      h1 OdinLibrary
      button.button#add-book New Book

      .row
        .column.column-50.column-offset-25
          #book-form
      
      table
        thead
          tr
            th Title
            th Author
            th Pages
            th Read
            th 
        tbody#library

    script src="assets/script.js" type="text/javascript"      